# https://editorconfig.org
# https://github.com/pinterest/ktlint/blob/master/.editorconfig
# https://pinterest.github.io/ktlint/0.49.1/rules/configuration-ktlint/
root = true

[*]
max_line_length = 120